// ==========================================================================
// Buttons
// ==========================================================================
.btn {
    display: inline-block;
    margin: 0;
    padding: 1.2rem 3.2rem;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
    border: none;
    transition: transform .3s ease-in-out;

    font: {
        // weight: $font-regular;
    }

    &:active {
        transform: scale(1.1);
        transition: transform .3s ease-in-out;
    }
}

.btn--small {
    display: inline-block;
    margin: 0;
    padding: .8rem 3.2rem;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
    border: none;

    font: {
        // weight: $font-regular;
    }

    transition: transform .3s ease-in-out;

    &:active {
        transform: scale(1.1);
        transition: transform .3s ease-in-out;
    }
}

@each $color,
$value in $theme-colors {
    @if $color==theme-white {
        .btn--#{$color} {
            background-color: $value;
            color: var(--color-theme-primary);

            &:hover {
                background-color: darken($value, 15%);
                transition: background-color .3s ease-in-out;
            }
        }
    }

    @else {
        .btn--#{$color} {
            background-color: $value;
            color: var(--color-theme-white);

            &:hover {
                background-color: darken($value, 10%);
                transition: background-color .3s ease-in-out;
            }
        }
    }
}

@each $color,
$value in $theme-colors {

    @if $color==theme-white {
        .btn--outline-#{$color} {
            border: 1.5px solid $value !important;
            color: $value;
            border-radius: 50rem;

            &:hover {
                background-color: darken($value, 10%);
                color: var(--color-theme-primary);
                transition: background-color .3s ease-in-out;
            }
        }
    }

    @else {
        .btn--outline-#{$color} {
            border: 1.5px solid $value !important;
            color: $value;
            border-radius: 50rem;

            &:hover {
                background-color: darken($value, 10%);
                color: var(--color-theme-white);
                transition: background-color .3s ease-in-out;
            }
        }
    }
}