#contato{
    @include margin;

    .contact__header{
        margin-bottom: 6rem;

        h1{
            margin: 0 0 1.6rem 0;
            padding: 0;
            font:{
                family: 'Raleway', sans-serif !important;
                size: 2.4rem;
                weight: 600;
            }
            text:{
                align: justify !important;
                transform: uppercase;
            }
            color: var(--color-theme-primary);
        }

        p{
            @include marginSet;
            font:{
                family: 'Playfair Display', serif !important;
                size: 3.8rem;
                weight: 400;
            }
        }
    }

    .contact__form{
        width: 100% !important;

        form{
            width: 100%;
            .contact__form__group{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
                gap: 2rem;
            }
            
            .contact__form__textArea{
                margin-top: 2rem;
            }
            
            .contact__form__button{
                margin-top: 6rem;
                text:{
                    align: center;
                }
            }
        }
    }
}