#home {
	@include marginSet;
	width          : 100%;
	height         : 100vh;
	display        : flex;
	justify-content: center;
	align-items    : center;
	background     : {
		image   : url("../img/img-home-casamento.jpg");
		size    : cover;
		position: center;
		repeat  : no-repeat;
	}

	.home__header {
		max-width: 88rem;

		h1 {
			@include marginSet;
			text-align: center;
			color     : var(--color-theme-white);
		}
	}

	.home__content {
		@include marginSet;
		text: {
			align: center;
		}

		p {
			margin : 1.8rem 0 2.5rem;
			padding: 0;
			font   : {
				size: 2.4rem;
			}
			text   : {
				align: center;
			}
			color  : var(--color-theme-white);
		}

		img {
			margin: 0 auto;
		}

		.btn {
			margin-top: 6rem;
		}
	}
}