@media screen and (max-width: 1024px){
    /*hero*/
    #hero{
        background:{
            size: 280%;
            position: 70%;
        }
    }
    /*end of hero*/
}

@media screen and (max-width: 768px) {
    html {
        font-size: 50% !important;
    }

    /*header*/
    #header {
        .header__navbar {
            .header__navbar__section {
                .header__navbar__section__nav {
                    display: none;
                }

                .header__navbar__section__toggle {
                    margin: 0;
                    padding: 0;
                    width: 32px;
                    height: 32px;

                    .header__navbar__section__toggle__bar {
                        background-color: var(--color-theme-white);
                        height: 3px;
                        width: 100%;
                        margin: 6px auto;
                        transition-duration: .3s;
                    }
                }
            }

            .header__navbar--open {
                position: absolute;
                top: 0;
                left: 0;

                width: 100vw;
                height: 100vh;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: rgba(darken(#87D1DE, 15%), .95);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);

                .header__navbar__section__nav {
                    display: block;
                }

                .header__navbar__section__toggle {
                    position: absolute;
                    top: 46px;
                    right: 32px;


                    &>.header__navbar__section__toggle__bar:nth-child(1) {
                        transform: rotate(45deg) translate(9px, 9px);
                        transition: .3s ease-in-out all;
                    }

                    &>.header__navbar__section__toggle__bar:nth-child(2) {
                        opacity: 0;
                        transition: .3s ease-in-out all;
                    }

                    &>.header__navbar__section__toggle__bar:nth-child(3) {
                        transform: rotate(-45deg) translate(4px, -4px);
                        transition: .3s ease-in-out all;
                    }

                    .header__navbar__section__toggle__bar {
                        background-color: var(--color-theme-white);
                        transition: .3s ease-in-out all;
                    }
                }

                .header__navbar__section__nav {
                    ul {
                        flex-direction: column;

                        li {

                            a {
                                display: block;
                                line-height: 6rem;
                                transition-duration: .5s;
                                font-size: 3rem !important;
                                color: var(--color-theme-white) !important;
                            }
                        }
                    }
                }
            }
        }
    }
    /*end of header*/

    /*hero*/
    #hero{
        background:{
            size: 250%;
            position: 72%;
        }
    }
    /*end of hero*/

    /*about*/
    #quem-somos{
        .about__content{
            .about__content__text{
                flex-basis: 58%;
                padding: 0 5rem;
            }

            .about__content__image{
                flex-basis: 42%;
            }
        }
    }
    /*end of about*/

    /*history*/
    #history{
        .container{
            .history__image{
                flex-basis: 50%;
            }

            .history__content{
                flex-basis: 50%;
            }
        }
    }
    /*end of history*/

    /*footer*/
    .footer{
        &__content{

            &__row{
                flex-wrap: wrap;

                &__image{
                    flex-basis: 100%;
                    margin-bottom: 3.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &__columns{
                    flex-basis: 100%;

                    &__card{
                        margin: auto;
                    }
                }
            }
        }
    }
    /*end of footer*/
}

@media screen and (max-width: 425px){
    /*hero*/
    #hero{
        background: {
            size: 350%;
            position: 62%;
        }

        .hero__header{
            h1{
                font:{
                    size: 3.6rem;
                }
            }
        }
    }
    /*end of hero*/

    /*about*/
    #quem-somos{
        .about__content{
            .about__content__text{
                flex-basis: 100%;
                padding: 0 5rem;
            }

            .about__content__image{
                display: none;
            }
        }

        &::after{
            height: 20rem;
            background:{
                position: center;
            }
        }
    }
    /*end of about*/

    /*history*/
    #history{
        .container{
            .history__image{
                display: none;
            }

            .history__content{
                order: -1;
                flex-basis: 100%;
            }
        }
    }
    /*end of history*/

    /*specialties*/
    #especialidades{
        &::before{
            height: 30rem;
        }

        .specialties__container{
            &::before{
                width: 36rem;
            }
        }

        .specialties__grid{
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        }
    }
    /*end of specialties*/

    /*services*/
    #servicos{
        .services__content__grid__image{
            display: none;
        }
    }
    /*end of services*/

    /*contato*/
    #contato{
        .contact__form{
            form{
                .contact__form__group{
                    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
                }
            }
        }
    }
    /*end of contato*/

    /*footer*/
    .footer{
        &__content{

            &__row{

                &__image{
                    img{
                        width: auto;
                        height: 12rem;
                    }
                }

                &__columns{
                    &__card{
                        flex-basis: 50%;
                        margin: 0 !important;
                        padding: 1.6rem;
                    }
                }
            }
        }
    }
    /*end of footer*/
}

@media screen and (max-width: 375px){

    /*hero*/
    #hero{
        background:{
            size: 380%;
            position: 62%;
        }
    }
    /*end of hero*/

    /*footer*/
    .footer{
        &__developer{
            .container{
                justify-content: center;
                p{
                    margin-bottom: .8rem;
                    flex-basis: 100%;
                }

                a{
                    flex-basis: 100%;
                }
            }
        }
    }
    /*end of footer*/
}

@media screen and (max-width: 320px){
    /*hero*/
    #hero{
        .hero__header{
            h1{
                font:{
                    size: 3.2rem;
                }
            }
        }
        .container{
            .hero__content{
                p{
                    font   : {
                        size: 1.8rem;
                    }
                }

                img{
                    width: 20rem;
                }
            }
        }
    }
    /*end of hero*/

    /*services*/
    #servicos{
        .services__content{
            .services__content__grid{
                grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            }
        }
    }
    /*end of services*/

    /*footer*/
    .footer{
        &__content{
            &__row{
                &__columns{
                    &__card{
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
    /*end of footer*/
}