#testimony{
    @include margin;
    background:{
        color: var(--color-background-gray-2);
    }

    .testimony__header{
        margin-bottom: 3.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            margin-bottom: 1rem;
            font:{
                size: 4.6rem;
            }
            text:{
                align: center;
            }
            color: var(--color-theme-secondary);
        }
    }

    .testimony__content{
        & > p{
            margin-bottom: 6rem;
            font:{
                size: 1.8rem;
            }
            text:{
                align: center;
            }
        }

        .testimony__content__row{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
            gap: 3rem;

            .testimony__content__row__card{
                margin: 0;
                padding: 3.2rem;
                background:{
                    color: var(--color-theme-white);
                }
                box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.15);

                .testimony__content__row__card__image{
                    margin-bottom: 2.8rem;
                    display: flex;
                    justify-content: center;
                }

                .testimony__content__row__card__name{
                    margin-bottom: .8rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p{
                        margin-bottom: .8rem;
                        font:{
                            family: 'Playfair Display', serif !important;
                            size: 1.6rem;
                            weight: 700;
                        }
                        text:{
                            align: center;
                        }
                        color: var(--color-theme-secondary);
                    }
                }
                
                .testimony__content__row__card__text{
                    p{
                        font:{
                            size: 1.2rem;
                        }
                        text:{
                            align: center;
                        }
                    }
                    
                    .text-bold{
                        margin-bottom: 1rem;
                        font:{
                            size: 1.3rem;
                            weight: 600;
                        }
                    }
                }
            }
        }
        
        .testimony__content__button{
            margin-top: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}