:root {
  --color-theme-primary: #FBA1AB;
  --color-theme-secondary: #87D1DE;
  --color-theme-text: #6F6F6F;
  --color-theme-white: #fff;
  --color-background-gray-1: #F5F5F5;
  --color-background-gray-2: #F8F8F8;
  --color-background-blue-1: #B7DFE9;
  --color-background-blue-2: #87D1DE; }

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none !important; }

html {
  height: 100vh;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 300;
  line-height: 1.5; }
  html body {
    height: 100vh;
    font-size: 1.6rem;
    color: var(--color-theme-text); }
  html a,
  html address,
  html span,
  html strong {
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit; }
  html img {
    display: block; }
  html ul {
    list-style: none;
    list-style-position: inside; }
  html h1,
  html h2,
  html h3 {
    font-size: 4.6rem;
    font-family: 'Playfair Display', serif !important; }

.d-none {
  display: none; }

/*includes*/
/*end of includes*/
/*Container*/
.container {
  display: block;
  margin: 0 auto;
  padding: 0 3.2rem;
  width: 100%; }

@media (min-width: 576px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 1140px; } }
.btn {
  display: inline-block !important;
  margin: 0;
  padding: 1rem 3.8rem;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: none;
  transition: transform 0.3s ease-in-out;
  font-family: 'Playfair Display', serif !important;
  font-size: 1.8rem; }
  .btn:active {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; }

.btn--small {
  display: inline-block;
  margin: 0;
  padding: 0.8rem 3.2rem;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: none;
  transition: transform 0.3s ease-in-out; }
  .btn--small:active {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; }

.btn--theme-primary {
  background-color: #FBA1AB;
  color: var(--color-theme-white); }
  .btn--theme-primary:hover {
    background-color: #f9707f;
    transition: background-color 0.5s ease-in-out; }

.btn--theme-secondary {
  background-color: #87D1DE;
  color: var(--color-theme-white); }
  .btn--theme-secondary:hover {
    background-color: #5fc2d3;
    transition: background-color 0.5s ease-in-out; }

.btn--theme-text {
  background-color: #6F6F6F;
  color: var(--color-theme-white); }
  .btn--theme-text:hover {
    background-color: #565656;
    transition: background-color 0.5s ease-in-out; }

.btn--theme-white {
  background-color: #fff;
  color: var(--color-theme-primary); }
  .btn--theme-white:hover {
    background-color: #d9d9d9;
    transition: 0.3s ease-in-out all; }

.btn--outline-theme-primary {
  border: 1.5px solid #FBA1AB !important;
  color: #FBA1AB; }
  .btn--outline-theme-primary:hover {
    background-color: #f9707f;
    color: var(--color-theme-white);
    transition: background-color 0.3s ease-in-out; }

.btn--outline-theme-secondary {
  border: 1.5px solid #87D1DE !important;
  color: #87D1DE; }
  .btn--outline-theme-secondary:hover {
    background-color: #5fc2d3;
    color: var(--color-theme-white);
    transition: background-color 0.3s ease-in-out; }

.btn--outline-theme-text {
  border: 1.5px solid #6F6F6F !important;
  color: #6F6F6F; }
  .btn--outline-theme-text:hover {
    background-color: #565656;
    color: var(--color-theme-white);
    transition: background-color 0.3s ease-in-out; }

.btn--outline-theme-white {
  border: 1.5px solid #fff !important;
  color: #fff; }
  .btn--outline-theme-white:hover {
    background-color: var(--color-theme-primary);
    border: 1.5px solid var(--color-theme-primary) !important;
    color: var(--color-theme-white);
    transition: 0.3s ease-in-out all; }

#home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/img-home-casamento.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #home .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #home .container .home__header {
      max-width: 88rem; }
      #home .container .home__header h1 {
        margin: 0;
        padding: 0;
        text-align: center;
        color: var(--color-theme-white); }
    #home .container .home__content {
      margin: 0;
      padding: 0;
      text-align: center; }
      #home .container .home__content p {
        margin: 1.8rem 0 2.5rem;
        padding: 0;
        font-size: 2.4rem;
        text-align: center;
        color: var(--color-theme-white); }
      #home .container .home__content img {
        margin: 0 auto; }
      #home .container .home__content .btn {
        margin-top: 6rem; }
    #home .container .home__scroll {
      display: block;
      position: absolute;
      bottom: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer; }
      #home .container .home__scroll a {
        display: flex;
        width: 4rem;
        height: 7rem;
        border-radius: 2rem;
        border: 1.5px solid var(--color-theme-white);
        align-self: baseline; }
        #home .container .home__scroll a::after {
          margin: 0;
          padding: 0;
          position: relative;
          top: 16%;
          left: 50%;
          display: block;
          width: 1rem;
          height: 1rem;
          background-color: var(--color-theme-primary);
          border-radius: 50%;
          transform: translatex(-50%);
          content: "";
          animation: scroll 2s infinite; }
@keyframes scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%;
    top: 70%; } }
#quem-somos {
  margin-top: 10rem; }
  #quem-somos .about__header h1 {
    margin-bottom: 1rem;
    padding: 0;
    color: var(--color-theme-secondary);
    text-align: center; }
  #quem-somos .about__header .about__header__image {
    width: 100%;
    margin-bottom: 3.4rem; }
    #quem-somos .about__header .about__header__image img {
      width: auto;
      margin: 0 auto;
      display: block; }
  #quem-somos .about__content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex; }
    #quem-somos .about__content .about__content__text {
      flex-basis: 65%;
      margin: 0;
      padding: 0 7.3rem; }
      #quem-somos .about__content .about__content__text p {
        margin: 0;
        padding: 0;
        text-align: justify; }
        #quem-somos .about__content .about__content__text p span {
          font-size: 2rem; }
      #quem-somos .about__content .about__content__text .about__text__button {
        margin-top: 4.4rem; }
    #quem-somos .about__content .about__content__image {
      flex-basis: 35%;
      width: 100%;
      height: auto; }
      #quem-somos .about__content .about__content__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
  #quem-somos::after {
    margin-top: 10rem;
    content: '';
    display: inline-block;
    width: 100%;
    height: 30rem;
    background-image: url(./../img/bg-divider.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom; }

#history {
  margin: 0;
  padding: 10rem 0; }
  #history .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; }
    #history .container .history__image {
      flex-basis: 40%;
      width: 100%;
      height: auto; }
      #history .container .history__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-postion: center; }
    #history .container .history__content {
      flex-basis: 60%;
      padding: 8rem 3rem;
      width: 100%; }
      #history .container .history__content .history__header {
        margin-bottom: 1.6rem; }
        #history .container .history__content .history__header h1 {
          margin: 0;
          padding: 0;
          font-family: 'Raleway', sans-serif !important;
          font-size: 2.4rem;
          font-weight: 600;
          text-transform: uppercase;
          color: var(--color-theme-primary); }
      #history .container .history__content > p:nth-child(2) {
        margin-bottom: 3.2rem;
        font-family: 'Playfair Display', serif !important;
        font-size: 3.2rem;
        line-height: 1.2; }
      #history .container .history__content p {
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        text-align: justify; }
      #history .container .history__content .history__content__button {
        margin-top: 7rem; }

#especialidades {
  /*padding-bottom: 10rem;*/
  z-index: -2; }
  #especialidades::before {
    margin: 0;
    padding: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 35rem;
    background-image: url("../img/bg-especialidades.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  #especialidades .specialties__container {
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    margin: -10rem auto 0 auto;
    padding: 15rem 0; }
    #especialidades .specialties__container::before {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 50%;
      content: '';
      display: inline-block;
      width: 44rem;
      height: 100%;
      background-color: var(--color-background-gray-1);
      transform: translateX(-50%); }
    #especialidades .specialties__container .specialties__container__header h1 {
      margin: 0;
      padding: 0;
      font-family: 'Raleway', sans-serif !important;
      font-size: 2.2rem;
      font-weight: 600;
      color: var(--color-theme-primary);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .25rem; }
    #especialidades .specialties__container .specialties__container__content {
      margin: 0 auto; }
      #especialidades .specialties__container .specialties__container__content p {
        text-align: center; }
        #especialidades .specialties__container .specialties__container__content p:nth-child(1) {
          margin: 1.8rem 0 5rem 0; }
          #especialidades .specialties__container .specialties__container__content p:nth-child(1) span {
            font-family: 'Playfair Display', serif !important;
            font-size: 4.6rem;
            font-weight: 400; }
        #especialidades .specialties__container .specialties__container__content p:nth-child(2) {
          margin: 0 auto;
          max-width: 58rem; }
  #especialidades .specialties__grid {
    margin: 0;
    padding: 10rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 3rem; }
    #especialidades .specialties__grid .specialties__grid__card {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      #especialidades .specialties__grid .specialties__grid__card h2 {
        margin-top: 2rem;
        font-family: 'Raleway', sans-serif !important;
        font-size: 2.4rem;
        font-weight: 300;
        text-align: center; }

#servicos {
  background-color: var(--color-background-gray-2); }
  #servicos::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 30rem;
    background-image: url("../img/bg-services.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  #servicos .services__header {
    padding-top: 8rem; }
    #servicos .services__header h1 {
      margin-bottom: 1rem;
      padding: 0;
      color: var(--color-theme-secondary);
      text-align: center; }
    #servicos .services__header .services__header__image {
      width: 100%;
      margin-bottom: 3.4rem; }
      #servicos .services__header .services__header__image img {
        width: auto;
        margin: 0 auto;
        display: block; }
  #servicos .services__content p {
    text-align: center; }
  #servicos .services__content .services__content__grid {
    padding: 8rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 3rem; }
    #servicos .services__content .services__content__grid .services__content__grid__article {
      background-color: var(--color-theme-white);
      box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.15); }
      #servicos .services__content .services__content__grid .services__content__grid__article img {
        width: 100%;
        height: auto; }
      #servicos .services__content .services__content__grid .services__content__grid__article .services__content__grid__article__content {
        margin: 0;
        padding: 3.2rem; }
        #servicos .services__content .services__content__grid .services__content__grid__article .services__content__grid__article__content .services__content__grid__article__content__header h2 {
          margin-bottom: 2.2rem;
          padding: 0;
          font-family: 'Raleway', sans-serif !important;
          font-size: 2.4rem;
          font-weight: 400;
          color: var(--color-theme-secondary);
          text-align: center; }
        #servicos .services__content .services__content__grid .services__content__grid__article .services__content__grid__article__content p {
          margin: 0;
          padding: 0;
          font-size: 1.4rem;
          text-align: justify; }
    #servicos .services__content .services__content__grid .services__content__grid__image img {
      width: 100%;
      height: auto; }

#galeria {
  margin: 0;
  padding: 10rem 0; }
  #galeria .gallery__header {
    width: 100%;
    display: inline-block;
    margin-bottom: 4.5rem; }
    #galeria .gallery__header h1 {
      margin: 0 0 1.6rem 0;
      padding: 0;
      font-family: 'Raleway', sans-serif !important;
      font-size: 2.4rem;
      font-weight: 600;
      text-align: justify !important;
      text-transform: uppercase;
      color: var(--color-theme-primary); }
    #galeria .gallery__header p {
      margin: 0;
      padding: 0;
      font-family: 'Playfair Display', serif !important;
      font-size: 3.8rem;
      font-weight: 400; }
  #galeria .gallery__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 28rem);
    grid-gap: 1.5rem; }
    #galeria .gallery__content .gallery__content__image {
      transform: scale(1);
      transition: transform .2s ease-in-out; }
      #galeria .gallery__content .gallery__content__image:nth-child(even):hover {
        transform: scale(0.95) rotate(1deg);
        transition: transform .2s ease-in-out; }
      #galeria .gallery__content .gallery__content__image:nth-child(odd):hover {
        transform: scale(0.95) rotate(-1deg);
        transition: transform .2s ease-in-out; }
      #galeria .gallery__content .gallery__content__image:nth-child(1) {
        grid-column: 1/3; }
      #galeria .gallery__content .gallery__content__image:nth-child(6) {
        grid-column: 3/5; }
      #galeria .gallery__content .gallery__content__image:nth-child(7) {
        grid-column: 1/3; }
      #galeria .gallery__content .gallery__content__image:nth-child(12) {
        grid-column: 3/5; }
      #galeria .gallery__content .gallery__content__image a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }

/*# sourceMappingURL=styles.css.map */
