:root {
  --color-theme-primary: #FBA1AB;
  --color-theme-secondary: #87D1DE;
  --color-theme-text: #6F6F6F;
  --color-theme-white: #fff;
  --color-background-gray-1: #F5F5F5;
  --color-background-gray-2: #F8F8F8;
  --color-background-gray-3: #E7E4E4;
  --color-background-blue-1: #B7DFE9;
  --color-background-blue-2: #87D1DE; }

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none !important; }

html {
  height: 100vh;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 300;
  line-height: 1.5; }
  html body {
    height: 100vh;
    font-size: 1.6rem;
    color: var(--color-theme-text); }
  html a,
  html address,
  html span,
  html strong {
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit; }
  html img {
    display: block; }
  html ul {
    list-style: none;
    list-style-position: inside; }
  html h1,
  html h2,
  html h3 {
    font-size: 4.6rem;
    font-family: 'Playfair Display', serif !important; }
  html header {
    width: 100%; }
  html input, html textarea {
    width: 100%;
    height: 100%;
    padding: .8rem;
    background: none;
    border: none;
    color: var(--color-theme-text);
    border-bottom: 1px solid var(--color-background-gray-3);
    line-height: 1.5;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    font-family: 'Raleway', sans-serif !important; }
    html input::placeholder, html textarea::placeholder {
      font-size: 1.4rem !important; }
    html input:focus, html textarea:focus {
      border: 1px solid var(--color-theme-secondary) !important;
      transform: scale(1.005);
      transition: transform .3s ease-in-out; }
  html textarea {
    min-height: 9.6rem;
    resize: none; }
  html button {
    background: none; }

.d-none {
  display: none !important; }

/*includes*/
/*end of includes*/
/*Container*/
.container {
  display: block;
  margin: 0 auto;
  padding: 0 3.2rem;
  width: 100%; }

@media (min-width: 576px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 1140px; } }
.btn {
  display: inline-block !important;
  margin: 0;
  padding: 1rem 3.8rem;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: none;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  font-family: 'Playfair Display', serif !important;
  font-size: 1.8rem; }
  .btn:active {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; }

.btn--small {
  display: inline-block;
  margin: 0;
  padding: 0.8rem 3.2rem;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: none;
  transition: transform 0.3s ease-in-out; }
  .btn--small:active {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; }

.btn--theme-primary {
  background-color: #FBA1AB;
  color: var(--color-theme-white);
  transition: background-color 0.5s ease-in-out; }
  .btn--theme-primary:hover {
    background-color: #f9707f;
    transition: background-color 0.5s ease-in-out; }

.btn--theme-secondary {
  background-color: #87D1DE;
  color: var(--color-theme-white);
  transition: background-color 0.5s ease-in-out; }
  .btn--theme-secondary:hover {
    background-color: #5fc2d3;
    transition: background-color 0.5s ease-in-out; }

.btn--theme-text {
  background-color: #6F6F6F;
  color: var(--color-theme-white);
  transition: background-color 0.5s ease-in-out; }
  .btn--theme-text:hover {
    background-color: #565656;
    transition: background-color 0.5s ease-in-out; }

.btn--theme-white {
  background-color: #fff;
  color: var(--color-theme-primary);
  transition: 0.3s ease-in-out all; }
  .btn--theme-white:hover {
    background-color: #d9d9d9;
    transition: 0.3s ease-in-out all; }

.btn--outline-theme-primary {
  border: 1.5px solid #FBA1AB !important;
  color: #FBA1AB;
  transition: background-color 0.3s ease-in-out; }
  .btn--outline-theme-primary:hover {
    background-color: #f9707f;
    color: var(--color-theme-white);
    transition: background-color 0.3s ease-in-out; }

.btn--outline-theme-secondary {
  border: 1.5px solid #87D1DE !important;
  color: #87D1DE;
  transition: background-color 0.3s ease-in-out; }
  .btn--outline-theme-secondary:hover {
    background-color: #5fc2d3;
    color: var(--color-theme-white);
    transition: background-color 0.3s ease-in-out; }

.btn--outline-theme-text {
  border: 1.5px solid #6F6F6F !important;
  color: #6F6F6F;
  transition: background-color 0.3s ease-in-out; }
  .btn--outline-theme-text:hover {
    background-color: #565656;
    color: var(--color-theme-white);
    transition: background-color 0.3s ease-in-out; }

.btn--outline-theme-white {
  border: 1.5px solid #fff !important;
  color: #fff;
  transition: 0.3s ease-in-out all; }
  .btn--outline-theme-white:hover {
    background-color: var(--color-theme-primary);
    border: 1.5px solid var(--color-theme-primary) !important;
    color: var(--color-theme-white);
    transition: 0.3s ease-in-out all; }

#header {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 100;
  transition: .5s ease-in-out all; }
  #header .header__navbar {
    margin: 0;
    padding: 1rem 0; }
    #header .header__navbar .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
      #header .header__navbar .container .header__navbar__section .header__navbar__section__nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        #header .header__navbar .container .header__navbar__section .header__navbar__section__nav ul > li:last-child {
          padding-right: 0; }
        #header .header__navbar .container .header__navbar__section .header__navbar__section__nav ul li {
          margin: 0;
          padding: .8rem 1.6rem;
          overflow: hidden;
          transition: .3s ease-in-out all; }
          #header .header__navbar .container .header__navbar__section .header__navbar__section__nav ul li a {
            position: relative;
            margin: 0;
            padding: 0;
            width: 100%;
            color: var(--color-theme-white);
            transition: .3s ease-in-out all; }
            #header .header__navbar .container .header__navbar__section .header__navbar__section__nav ul li a::after {
              content: '';
              position: absolute;
              bottom: -1rem;
              width: 100%;
              left: 0;
              transform: translateX(-200%);
              transition: .3s ease-in-out all; }
            #header .header__navbar .container .header__navbar__section .header__navbar__section__nav ul li a:hover {
              color: var(--color-theme-primary);
              transition: .3s linear all; }
              #header .header__navbar .container .header__navbar__section .header__navbar__section__nav ul li a:hover::after {
                content: '';
                border: 1px solid var(--color-theme-primary);
                transform: translateX(0);
                transform-origin: left;
                transition: .5s linear all; }

.header--active {
  background-color: rgba(75, 186, 206, 0.95) !important;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: .5s ease-in-out all; }
  .header--active img {
    height: 8rem !important; }

#hero {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/img-home-casamento.jpg");
  background-size: 150%;
  background-position: center;
  background-attachment: fixed; }
  #hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #hero .container .hero__header {
      max-width: 88rem; }
      #hero .container .hero__header h1 {
        margin: 0;
        padding: 0;
        text-align: center;
        color: var(--color-theme-white); }
    #hero .container .hero__content {
      margin: 0;
      padding: 0;
      text-align: center; }
      #hero .container .hero__content p {
        margin: 1.8rem 0 2.5rem;
        padding: 0;
        font-size: 2.4rem;
        text-align: center;
        color: var(--color-theme-white); }
      #hero .container .hero__content img {
        margin: 0 auto; }
      #hero .container .hero__content .btn {
        margin-top: 6rem; }
    #hero .container .hero__scroll {
      display: block;
      position: absolute;
      bottom: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer; }
      #hero .container .hero__scroll a {
        display: flex;
        width: 4rem;
        height: 7rem;
        border-radius: 2rem;
        border: 1.5px solid var(--color-theme-white);
        align-self: baseline; }
        #hero .container .hero__scroll a::after {
          margin: 0;
          padding: 0;
          position: relative;
          top: 16%;
          left: 50%;
          display: block;
          width: 1rem;
          height: 1rem;
          background-color: var(--color-theme-primary);
          border-radius: 50%;
          transform: translatex(-50%);
          content: "";
          animation: scroll 2s infinite; }
@keyframes scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%;
    top: 70%; } }
  #hero #whatsapp {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    margin: 0;
    width: 7rem;
    height: 7rem;
    z-index: 2000; }
  #hero .whatsapp__button {
    display: none;
    transition: display .3s ease-in-out; }
  #hero .whatsapp__button--active {
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25d366;
    border-radius: 10rem;
    text-align: center;
    transition: display .3s ease-in-out all;
    animation: zoom 1.5s infinite;
    transition: .3s ease-in-out all; }
    #hero .whatsapp__button--active:hover {
      opacity: 100%;
      background-color: #1fb055;
      animation: none;
      transition: .3s ease-in-out all; }
    #hero .whatsapp__button--active a {
      display: block; }
      #hero .whatsapp__button--active a img {
        height: 4.2rem !important; }
@keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
#quem-somos {
  margin-top: 10rem; }
  #quem-somos .about__header h1 {
    margin-bottom: 1rem;
    padding: 0;
    color: var(--color-theme-secondary);
    text-align: center; }
  #quem-somos .about__header .about__header__image {
    width: 100%;
    margin-bottom: 3.4rem; }
    #quem-somos .about__header .about__header__image img {
      width: auto;
      margin: 0 auto;
      display: block; }
  #quem-somos .about__content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    #quem-somos .about__content .about__content__text {
      flex-basis: 65%;
      margin: 0;
      padding: 0 7.3rem; }
      #quem-somos .about__content .about__content__text p {
        margin: 0;
        padding: 0;
        text-align: justify; }
        #quem-somos .about__content .about__content__text p span {
          font-size: 2rem; }
      #quem-somos .about__content .about__content__text .about__text__button {
        margin-top: 4.4rem; }
    #quem-somos .about__content .about__content__image {
      flex-basis: 35%;
      width: 100%;
      height: auto; }
      #quem-somos .about__content .about__content__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
  #quem-somos::after {
    margin-top: 10rem;
    content: '';
    display: inline-block;
    width: 100%;
    height: 30rem;
    background-image: url(./../img/bg-divider.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom; }

#history {
  margin: 0;
  padding: 10rem 0; }
  #history .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; }
    #history .container .history__image {
      flex-basis: 40%;
      width: 100%;
      height: auto; }
      #history .container .history__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-postion: center; }
    #history .container .history__content {
      flex-basis: 60%;
      padding: 8rem 3rem;
      width: 100%; }
      #history .container .history__content .history__header {
        margin-bottom: 1.6rem; }
        #history .container .history__content .history__header h1 {
          margin: 0;
          padding: 0;
          font-family: 'Raleway', sans-serif !important;
          font-size: 2.4rem;
          font-weight: 600;
          text-transform: uppercase;
          color: var(--color-theme-primary); }
      #history .container .history__content > p:nth-child(2) {
        margin-bottom: 3.2rem;
        font-family: 'Playfair Display', serif !important;
        font-size: 3.2rem;
        line-height: 1.2; }
      #history .container .history__content p {
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        text-align: justify; }
      #history .container .history__content .history__content__button {
        margin-top: 7rem; }

#especialidades {
  z-index: -2; }
  #especialidades::before {
    margin: 0;
    padding: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 35rem;
    background-image: url("../img/bg-especialidades.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  #especialidades .specialties__container {
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    margin: -10rem auto 0 auto;
    padding: 15rem 0; }
    #especialidades .specialties__container::before {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 50%;
      content: '';
      display: inline-block;
      width: 44rem;
      height: 100%;
      background-color: var(--color-background-gray-1);
      transform: translateX(-50%); }
    #especialidades .specialties__container .specialties__container__header h1 {
      margin: 0;
      padding: 0;
      font-family: 'Raleway', sans-serif !important;
      font-size: 2.2rem;
      font-weight: 600;
      color: var(--color-theme-primary);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .25rem; }
    #especialidades .specialties__container .specialties__container__content {
      margin: 0 auto; }
      #especialidades .specialties__container .specialties__container__content p {
        text-align: center; }
        #especialidades .specialties__container .specialties__container__content p:nth-child(1) {
          margin: 1.8rem 0 5rem 0; }
          #especialidades .specialties__container .specialties__container__content p:nth-child(1) span {
            font-family: 'Playfair Display', serif !important;
            font-size: 4.6rem;
            font-weight: 400; }
        #especialidades .specialties__container .specialties__container__content p:nth-child(2) {
          margin: 0 auto;
          max-width: 58rem; }
  #especialidades .specialties__grid {
    margin: 0;
    padding: 10rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 3rem; }
    #especialidades .specialties__grid .specialties__grid__card {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      #especialidades .specialties__grid .specialties__grid__card img {
        max-height: 12rem; }
      #especialidades .specialties__grid .specialties__grid__card h2 {
        margin-top: 2rem;
        font-family: 'Raleway', sans-serif !important;
        font-size: 2.4rem;
        font-weight: 300;
        text-align: center; }

#servicos {
  background-color: var(--color-background-gray-2); }
  #servicos::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 30rem;
    background-image: url("../img/bg-services.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  #servicos .services__header {
    padding-top: 8rem; }
    #servicos .services__header h1 {
      margin-bottom: 1rem;
      padding: 0;
      color: var(--color-theme-secondary);
      text-align: center; }
    #servicos .services__header .services__header__image {
      width: 100%;
      margin-bottom: 3.4rem; }
      #servicos .services__header .services__header__image img {
        width: auto;
        margin: 0 auto;
        display: block; }
  #servicos .services__content {
    width: 100%; }
    #servicos .services__content p {
      text-align: center; }
    #servicos .services__content .services__content__grid {
      padding: 8rem 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
      gap: 3rem; }
      #servicos .services__content .services__content__grid .services__content__grid__article {
        width: 100%;
        height: auto;
        background-color: var(--color-theme-white);
        box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.15); }
        #servicos .services__content .services__content__grid .services__content__grid__article img {
          width: 100%;
          max-height: 30rem;
          object-fit: cover;
          object-postion: center; }
        #servicos .services__content .services__content__grid .services__content__grid__article .services__content__grid__article__content {
          width: 100%;
          margin: 0;
          padding: 3.2rem; }
          #servicos .services__content .services__content__grid .services__content__grid__article .services__content__grid__article__content .services__content__grid__article__content__header h2 {
            margin-bottom: 2.2rem;
            padding: 0;
            font-family: 'Raleway', sans-serif !important;
            font-size: 2.4rem;
            font-weight: 400;
            color: var(--color-theme-secondary);
            text-align: center; }
          #servicos .services__content .services__content__grid .services__content__grid__article .services__content__grid__article__content p {
            margin: 0;
            padding: 0;
            font-size: 1.4rem;
            text-align: justify; }
      #servicos .services__content .services__content__grid .services__content__grid__image img {
        width: 100%;
        height: auto; }

#galeria {
  margin: 0;
  padding: 10rem 0; }
  #galeria .gallery__header {
    margin-bottom: 4.5rem; }
    #galeria .gallery__header h1 {
      margin: 0 0 1.6rem 0;
      padding: 0;
      font-family: 'Raleway', sans-serif !important;
      font-size: 2.4rem;
      font-weight: 600;
      text-align: justify !important;
      text-transform: uppercase;
      color: var(--color-theme-primary); }
    #galeria .gallery__header p {
      margin: 0;
      padding: 0;
      font-family: 'Playfair Display', serif !important;
      font-size: 3.8rem;
      font-weight: 400; }
  #galeria .gallery__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 28rem);
    grid-gap: 1.5rem; }
    #galeria .gallery__content .gallery__content__image {
      transform: scale(1);
      transition: transform .2s ease-in-out;
      filter: blur(0);
      transition: filter .3s ease-in-out; }
      #galeria .gallery__content .gallery__content__image:hover {
        filter: blur(2px);
        transition: filter .3s ease-in-out; }
      #galeria .gallery__content .gallery__content__image:nth-child(even):hover {
        transform: scale(0.95) rotate(1deg);
        transition: transform .2s ease-in-out; }
      #galeria .gallery__content .gallery__content__image:nth-child(odd):hover {
        transform: scale(0.95) rotate(-1deg);
        transition: transform .2s ease-in-out; }
      #galeria .gallery__content .gallery__content__image:nth-child(1) {
        grid-column: 1/3; }
      #galeria .gallery__content .gallery__content__image:nth-child(6) {
        grid-column: 3/5; }
      #galeria .gallery__content .gallery__content__image:nth-child(7) {
        grid-column: 1/3; }
      #galeria .gallery__content .gallery__content__image:nth-child(12) {
        grid-column: 3/5; }
      #galeria .gallery__content .gallery__content__image a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }

#testimony {
  margin: 0;
  padding: 10rem 0;
  background-color: var(--color-background-gray-2); }
  #testimony .testimony__header {
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #testimony .testimony__header h1 {
      margin-bottom: 1rem;
      font-size: 4.6rem;
      text-align: center;
      color: var(--color-theme-secondary); }
  #testimony .testimony__content > p {
    margin-bottom: 6rem;
    font-size: 1.8rem;
    text-align: center; }
  #testimony .testimony__content .testimony__content__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 3rem; }
    #testimony .testimony__content .testimony__content__row .testimony__content__row__card {
      margin: 0;
      padding: 3.2rem;
      background-color: var(--color-theme-white);
      box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.15); }
      #testimony .testimony__content .testimony__content__row .testimony__content__row__card .testimony__content__row__card__image {
        margin-bottom: 2.8rem;
        display: flex;
        justify-content: center; }
      #testimony .testimony__content .testimony__content__row .testimony__content__row__card .testimony__content__row__card__name {
        margin-bottom: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #testimony .testimony__content .testimony__content__row .testimony__content__row__card .testimony__content__row__card__name p {
          margin-bottom: .8rem;
          font-family: 'Playfair Display', serif !important;
          font-size: 1.6rem;
          font-weight: 700;
          text-align: center;
          color: var(--color-theme-secondary); }
      #testimony .testimony__content .testimony__content__row .testimony__content__row__card .testimony__content__row__card__text p {
        font-size: 1.2rem;
        text-align: center; }
      #testimony .testimony__content .testimony__content__row .testimony__content__row__card .testimony__content__row__card__text .text-bold {
        margin-bottom: 1rem;
        font-size: 1.3rem;
        font-weight: 600; }
  #testimony .testimony__content .testimony__content__button {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center; }

#contato {
  margin: 0;
  padding: 10rem 0; }
  #contato .contact__header {
    margin-bottom: 6rem; }
    #contato .contact__header h1 {
      margin: 0 0 1.6rem 0;
      padding: 0;
      font-family: 'Raleway', sans-serif !important;
      font-size: 2.4rem;
      font-weight: 600;
      text-align: justify !important;
      text-transform: uppercase;
      color: var(--color-theme-primary); }
    #contato .contact__header p {
      margin: 0;
      padding: 0;
      font-family: 'Playfair Display', serif !important;
      font-size: 3.8rem;
      font-weight: 400; }
  #contato .contact__form {
    width: 100% !important; }
    #contato .contact__form form {
      width: 100%; }
      #contato .contact__form form .contact__form__group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
        gap: 2rem; }
      #contato .contact__form form .contact__form__textArea {
        margin-top: 2rem; }
      #contato .contact__form form .contact__form__button {
        margin-top: 6rem;
        text-align: center; }
    #contato .contact__form .contact__form__status--loading {
      margin-top: 3.2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      #contato .contact__form .contact__form__status--loading img {
        animation: spin 2s infinite linear; }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.map iframe {
  width: 100%;
  min-height: 35rem;
  border: none; }

@media screen and (max-width: 1024px) {
  /*hero*/
  #hero {
    background-size: 280%;
    background-position: 70% 50%; }

  /*end of hero*/ }
@media screen and (max-width: 768px) {
  html {
    font-size: 50% !important; }

  /*header*/
  #header .header__navbar .header__navbar__section .header__navbar__section__nav {
    display: none; }
  #header .header__navbar .header__navbar__section .header__navbar__section__toggle {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px; }
    #header .header__navbar .header__navbar__section .header__navbar__section__toggle .header__navbar__section__toggle__bar {
      background-color: var(--color-theme-white);
      height: 3px;
      width: 100%;
      margin: 6px auto;
      transition-duration: .3s; }
  #header .header__navbar .header__navbar--open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 186, 206, 0.95);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); }
    #header .header__navbar .header__navbar--open .header__navbar__section__nav {
      display: block; }
    #header .header__navbar .header__navbar--open .header__navbar__section__toggle {
      position: absolute;
      top: 46px;
      right: 32px; }
      #header .header__navbar .header__navbar--open .header__navbar__section__toggle > .header__navbar__section__toggle__bar:nth-child(1) {
        transform: rotate(45deg) translate(9px, 9px);
        transition: .3s ease-in-out all; }
      #header .header__navbar .header__navbar--open .header__navbar__section__toggle > .header__navbar__section__toggle__bar:nth-child(2) {
        opacity: 0;
        transition: .3s ease-in-out all; }
      #header .header__navbar .header__navbar--open .header__navbar__section__toggle > .header__navbar__section__toggle__bar:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -4px);
        transition: .3s ease-in-out all; }
      #header .header__navbar .header__navbar--open .header__navbar__section__toggle .header__navbar__section__toggle__bar {
        background-color: var(--color-theme-white);
        transition: .3s ease-in-out all; }
    #header .header__navbar .header__navbar--open .header__navbar__section__nav ul {
      flex-direction: column; }
      #header .header__navbar .header__navbar--open .header__navbar__section__nav ul li a {
        display: block;
        line-height: 6rem;
        transition-duration: .5s;
        font-size: 3rem !important;
        color: var(--color-theme-white) !important; }

  /*end of header*/
  /*hero*/
  #hero {
    background-size: 250%;
    background-position: 72% 50%; }

  /*end of hero*/
  /*about*/
  #quem-somos .about__content .about__content__text {
    flex-basis: 58%;
    padding: 0 5rem; }
  #quem-somos .about__content .about__content__image {
    flex-basis: 42%; }

  /*end of about*/
  /*history*/
  #history .container .history__image {
    flex-basis: 50%; }
  #history .container .history__content {
    flex-basis: 50%; }

  /*end of history*/
  /*footer*/
  .footer__content__row {
    flex-wrap: wrap; }
    .footer__content__row__image {
      flex-basis: 100%;
      margin-bottom: 3.2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .footer__content__row__columns {
      flex-basis: 100%; }
      .footer__content__row__columns__card {
        margin: auto; }

  /*end of footer*/ }
@media screen and (max-width: 425px) {
  /*hero*/
  #hero {
    background-size: 345%;
    background-position: 62% 50%; }
    #hero .hero__header h1 {
      font-size: 3.6rem; }

  /*end of hero*/
  /*about*/
  #quem-somos .about__content .about__content__text {
    flex-basis: 100%;
    padding: 0 5rem; }
  #quem-somos .about__content .about__content__image {
    display: none; }
  #quem-somos::after {
    height: 20rem;
    background-position: center; }

  /*end of about*/
  /*history*/
  #history .container .history__image {
    display: none; }
  #history .container .history__content {
    order: -1;
    flex-basis: 100%; }

  /*end of history*/
  /*specialties*/
  #especialidades::before {
    height: 30rem; }
  #especialidades .specialties__container::before {
    width: 36rem; }
  #especialidades .specialties__grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }

  /*end of specialties*/
  /*services*/
  #servicos .services__content__grid__image {
    display: none; }

  /*end of services*/
  /*contato*/
  #contato .contact__form form .contact__form__group {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); }

  /*end of contato*/
  /*footer*/
  .footer__content__row__image img {
    width: auto;
    height: 12rem; }
  .footer__content__row__columns__card {
    flex-basis: 50%;
    margin: 0 !important;
    padding: 1.6rem; }

  /*end of footer*/ }
@media screen and (max-width: 375px) {
  /*hero*/
  #hero {
    background-size: 380%;
    background-position: 62% 50%; }

  /*end of hero*/
  /*footer*/
  .footer__developer .container {
    justify-content: center; }
    .footer__developer .container p {
      margin-bottom: .8rem;
      flex-basis: 100%; }
    .footer__developer .container a {
      flex-basis: 100%; }

  /*end of footer*/ }
@media screen and (max-width: 320px) {
  /*hero*/
  #hero .hero__header h1 {
    font-size: 3.2rem; }
  #hero .container .hero__content p {
    font-size: 1.8rem; }
  #hero .container .hero__content img {
    width: 20rem; }

  /*end of hero*/
  /*services*/
  #servicos .services__content .services__content__grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); }

  /*end of services*/
  /*footer*/
  .footer__content__row__columns__card {
    flex-basis: 100%; }

  /*end of footer*/ }
.footer__content {
  width: 100%; }
  .footer__content__row {
    padding: 3.2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footer__content__row__columns {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start; }
      .footer__content__row__columns__card {
        max-width: 20rem; }
        .footer__content__row__columns__card:not(:last-child) {
          margin-right: 3rem; }
        .footer__content__row__columns__card:last-child address {
          transition: transform .3s ease-in-out; }
          .footer__content__row__columns__card:last-child address:hover {
            transform: scale(1.1);
            transition: transform .3s ease-in-out; }
          .footer__content__row__columns__card:last-child address:nth-child(2) {
            margin: 0 1.6rem; }
        .footer__content__row__columns__card__header {
          margin-bottom: 1.6rem; }
          .footer__content__row__columns__card__header p {
            margin-bottom: .8rem;
            padding: 0;
            font-size: 1.6rem;
            font-weight: 600;
            text-align: center; }
          .footer__content__row__columns__card__header hr {
            width: 4rem;
            height: .2rem;
            margin: 0 auto;
            border: none;
            background-color: var(--color-theme-primary); }
        .footer__content__row__columns__card__body {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center; }
          .footer__content__row__columns__card__body address, .footer__content__row__columns__card__body p {
            font-size: 1.2rem; }
          .footer__content__row__columns__card__body address a {
            transition: color .3s ease-in-out; }
            .footer__content__row__columns__card__body address a:hover {
              color: var(--color-theme-primary);
              transition: color .3s ease-in-out; }
.footer__copyright {
  margin: 0;
  padding: 1rem 0;
  background-color: var(--color-background-blue-1);
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-theme-white); }
.footer__developer {
  margin: 0;
  padding: 1rem 0;
  background-color: var(--color-background-blue-2);
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-theme-white); }
  .footer__developer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .footer__developer .container p a {
      display: inline-block; }
    .footer__developer .container a {
      margin: 0;
      padding: 0;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color .3s ease-in-out; }
      .footer__developer .container a:hover {
        color: #164750;
        transition: color .3s ease-in-out; }
      .footer__developer .container a strong {
        font-weight: 600; }
      .footer__developer .container a img {
        margin-right: .8rem; }

/*# sourceMappingURL=styles.css.map */
